<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candan A.Ş</title>
</head>
<script>

    function getCookie(c_name) {
        var i, x, y, ARRcookies = document.cookie.split(";");
        for (i = 0; i < ARRcookies.length; i++) {
            x = ARRcookies[i].substr(0, ARRcookies[i].indexOf("="));
            y = ARRcookies[i].substr(ARRcookies[i].indexOf("=") + 1);
            x = x.replace(/^\s+|\s+$/g, "");
            if (x == c_name) {
                return unescape(y);
            }
        }
    }

    function cssSelected() {
        var cssSelected = $('#myList')[0].value;
        if (cssSelected !== "select") {
            setCookie("selectedCSS", cssSelected, 3);
        }
    }
    function eraseCookie(name) {
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
    function exportToJSON() {
        const username = getCookie("username");
        const authtoken = getCookie("authtoken");
        const postRequestURL = document.getElementById("callback").value;

        fetch(postRequestURL, {
            method: 'POST',
            headers: {
                'content-type': 'application/json'
            },
            'body': JSON.stringify({"username": username, "authkey": authtoken})
        }).then((response) => response.json())
            .then((data) => {
                if (data["status"] === "success") {
                 document.getElementById("key").innerHTML = data["secretKey"];
                }
            });
    }
</script>
<body>
<h3>Secret key: <span id="key"></span></h3>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
{{ $secretkeycb := .SecretKeyCallbackPath }}
<form onsubmit="exportToJSON()" action="" target="dummyframe">
    <input type="hidden" id="callback" value="{{ $secretkeycb }}">
    <h4>Slapping will reset your old secret key.</h4>
    <button type="submit">Slap me for getting a secret key. </button>
</form>

<h3>Please keep your secret key in somewhere safe. Please contact me if you accidentally seize your secret key.</h3>
</body>
</html>