<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candan A.Ş</title>
    <link rel="stylesheet" type="text/css" rel="noopener" href="./static/css/signin.css">
</head>
<script>
  function exportToJSON() {
    const usernameInput = document.getElementById("usernameSignIn").value;
    const passwordInput = document.getElementById("passwordSignIn").value;
    const postRequestURL = document.getElementById("callback").value;
    const signupURL = document.getElementById("signupURL").value;
    const signinURL = document.getElementById("signinURL").value;
    fetch(postRequestURL, {
      method: 'POST',
      headers: {
        'content-type': 'application/json'
      },
      'body': JSON.stringify({"username": usernameInput, "password": passwordInput})
    }).then((response) => response.json())
            .then((data) => {
              if (data["status"] === "success") {
                window.location.href = "http://localhost:7171/v1/home";
              } else {
                alert("Wrong username or password");
                window.location.href = signinURL;
              }
            });
  }
</script>
<body>
<!-- write a simple form to collect username and password, creates a json and sends it to http://localhost:6969/callback -->
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
{{ $callback := .CallbackURL }}
{{ $signupURL := .SignupURL }}
{{ $signinURL := .SigninURL }}
<div class="login">
    <h1>Login</h1>
    <h5>Username's minimum length must be 8, with maximum length of 25.</h5>
    <h5>Password's minimum length must be 8, with maximum length of 16.</h5>
    <form method="post" action="" onsubmit="exportToJSON()" target="dummyframe">
        <input type="hidden" id="callback" value="{{ $callback }}">
        <input type="hidden" id="signupURL" value="{{ $signupURL }}">
        <input type="hidden" id="signinURL" value="{{ $signinURL }}">
        <input type="text" id="usernameSignIn" name="u" placeholder="Username" required="required" minlength="8" maxlength="25"/>
        <input type="password" id="passwordSignIn" name="p" placeholder="Password" required="required" minlength="8" maxlength="16" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Sign In</button>
    </form>
    <form method="get" action="{{ $signupURL }}">
        <button type="submit" class="btn btn-primary btn-block btn-large">Want to sign up?</button>
    </form>
</div>
</body>
</html>